{% extends "mb4/base.html" %}
{% load crispy_forms_tags  %}
{% block header %}
 <div class="text-center">
	<img src="/media/costume%20hoedje%20af.png" class="rond " alt="Mathman Hoedje Af" >
 </div>
{% endblock header %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Paswoord</legend>
				{{ form|crispy}}
			</fieldset>
			<div class="form-group">
				<br>
				<div class = "containerb">
					<button class="btn3 effect01" type="submit"><span>Vraag een nieuw Paswoord aan</span></button>
					<br>
				</div>
			</div>
		</form>
	</div>
	
{% endblock content %}
